body {
  background-image: url("https://wallpapers.com/images/featured/black-wuuaobghtdllhliu.jpg");
  font-family: Arial, sans-serif;
}

.maindiv,
.saveButton {
  border-radius: 15px;
  background-color: black;
}

.saveButton:hover {
  background-color: white;
  color: black;
}

.profileButton {
  border-radius: 5px;
  background-color: black;
}

.profileButton:hover {
  background-color: white;
  color: black;
}

.chartButtonDelete:hover {
  background-color: red !important;
  color: white;
  border: darkred !important;
}

.chartEditButton:hover {
  background-color: gray;
  color: white;
}

.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.textlanding {
  max-width: 600px;
}

.text-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #000;
}

.text-content p {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.buttonslanding {
  display: flex;
  gap: 20px;
}

.btnslanding {
  padding: 15px 30px;
  font-size: 16px;

  cursor: pointer;
  border-radius: 5px;
}

.image-content {
  width: 50%;
  height: auto;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.patient-info {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
}

.patient-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.patient-profile {
  display: flex;
}

.patient-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.patient-details h3 {
  margin: 0;
  font-size: 20px;
}

.patient-summary p {
  margin: 0;
}

.patient-records {
  display: flex;
  justify-content: space-between;
}

.section {
  width: 30%;
}

.section h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.view-button,
.refill-button {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.view-button:hover,
.refill-button:hover {
  background-color: #ddd;
}
